/* GERAL */ 
:root {
  --primary-color: #004F71;
  --primary-color-brand: #002B44;
  --secondary-color-brand: #00324D;
  --primary-color-para-voce: #F8FAFB;
  --primary-color-para-cooperativa: #004F71;
  --color-actived: #B78B20;
  --color-neutral: #6C6C6C;
  --color-neutral-2: #B7C9d3;
  --color-footer: #EFF1F2
}
:where(body .is-layout-constrained) > * , :where(body .is-layout-flow) > *{
  margin-block-start: 0px !important;
  margin-block-end: 0;
}
.wp-block-site-title,.wp-block-separator.has-alpha-channel-opacity, #wp--skip-link--target .wp-block-post-title {
  display: none !important;
}
#wp--skip-link--target {
  padding: 0 !important;
  margin: 0 !important;
}
.body {
  font-family: 'Calibri';
  font-size: 15px;
}
a {
  text-decoration: none !important;
  color: var(--primary-color);
}
.arrow {
  border: solid var(--primary-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin: 2px 15px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.btn {
  padding: 9px 23px !important;
  height: 44px;
  border-radius: 25px !important;
  font-size: 15px !important;
}
.btn-primary {
  color: white !important;
  background-color: var(--primary-color) !important;
  border: 0px !important;

}
.btn-secondary {
  color: var(--primary-color) !important;
  background-color: white !important;
  border: 0px !important;
}
.btn-actived {
  color: white !important;
  background-color: var(--color-actived)  !important;
  border: 0px !important;
}
/* ICONS */
.icon-menu {
  padding-left: 40px !important;
}
.icon {
  height: 24px; 
  width: 24px; 
  display: block;
  padding-left:20px;
  float: right;
  position: relative;
  margin: 2px 0 0 9px;
}
.icon:after{
  content: '';
  display: block;
  height: 24px; 
  width: 24px; 
  background-size:cover;
  position: absolute;
  top: 0px;
  left: 0px;
}
.icon-search {
  background: url('../images/icons/icon-search.png') no-repeat 0px 0px;
}
.icon-search-white {
  background: url('../images/icons/icon-search-white.png') no-repeat 0px 0px;
}
.icon-phone {
  background: url('../images/icons/icon-phone.png') no-repeat 0px 0px;
}
.icon-central {
  background: url('../images/icons/icon-central.png') no-repeat 0px 0px;
}

.icon-logo {
  background: url('../images/icons/icon-logo.png') no-repeat 0px 20px;
}
.icon-cta {
  background: url('../images/icons/icon-right-arrow-white.png') no-repeat 0px 0px;
}
/* ICONS SOLUÇÔES */
.icon-app-uniprime-cartoes-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 35px 42px;
}
.icon-boleto-bancario-cobranca-gold, .icon-boleto-bancario-cobranca-2-gold, .icon-boleto-bancario-cobranca-3-gold {
  background: url('../images/icons/icon-cambio-gold.png') no-repeat 35px 42px;
}
.icon-cambio-gold {
  background: url('../images/icons/icon-cambio-gold.png') no-repeat 35px 42px;
}
.icon-cartoes-gold, .icon-cartoes-2-gold, .icon-cartoes-3-gold {
  background: url('../images/icons/icon-cambio-gold.png') no-repeat 35px 42px;
}
.icon-cobranca-gold {
  background: url('../images/icons/icon-cobranca-gold.png') no-repeat 35px 42px;
}
.icon-consorcios-gold, .icon-consorcios-2-gold, .icon-consorcios-3-gold {
  background: url('../images/icons/icon-credit-card-gold.png') no-repeat 35px 42px;
}
.icon-conta-corrente-gold, .icon-conta-corrente-2-gold, .icon-conta-corrente-3-gold {
  background: url('../images/icons/icon-credit-card-gold.png') no-repeat 35px 42px;
}
.icon-credit-card-gold {
  background: url('../images/icons/icon-credit-card-gold.png') no-repeat 35px 42px;
}
.icon-credito-gold, .icon-credito-2-gold, .icon-credito-3-gold {
  background: url('../images/icons/icon-credit-card-gold.png') no-repeat 35px 42px;
}
.icon-domicilio-bancario-gold, .icon-domicilio-bancario-2-gold, .icon-domicilio-bancario-3-gold {
  background: url('../images/icons/icon-domicilio-bancario-gold.png') no-repeat 35px 42px;
}
.icon-financiamento-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 35px 42px;
}
.icon-investimentos-gold {
  background: url('../images/icons/icon-investimentos-gold.png') no-repeat 35px 42px;
}
.icon-linha-credito-gold {
  background: url('../images/icons/icon-linha-credito-gold.png') no-repeat 35px 42px;
}
.icon-maquina-de-cartao-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 35px 42px;
}
.icon-open-banking-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 35px 42px;
}
.icon-open-finance-gold, .icon-open-finance-2-gold, .icon-open-finance-3-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 35px 42px;
}
.icon-portabilidade-de-conta-salario-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 35px 42px;
}
.icon-pix-gold, .icon-pix-2-gold, .icon-pix-3-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 35px 42px;
}
.icon-previdencia-gold, .icon-previdencia-2-gold, .icon-previdencia-3-gold  {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 35px 42px;
}
.icon-produtos-de-investimento-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 35px 42px;
}
.icon-remessa-internacional-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 35px 42px;
}
.icon-repasse-mediante-convenios-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 35px 42px;
}
.icon-seguros-gold, .icon-seguros-2-gold, .icon-seguros-3-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 35px 42px;
}
.icon-servicos-e-assessoria-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 35px 42px;
}
.icon-servicos-internacionais-gold, .icon-servicos-internacionais-2-gold, .icon-servicos-internacionais-3-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 35px 42px;
}
.icon-tag-gold, .icon-tag-2-gold, .icon-tag-3-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 35px 42px;
}
/* BLUE */

.icon-boleto-bancario-cobranca {
  background: url('../images/icons/icon-credit-card.png') no-repeat 0px 0px;
}
.icon-cartoes {
  background: url('../images/icons/icon-credit-card.png') no-repeat 0px 0px;
}
.icon-credit-card {
  background: url('../images/icons/icon-credit-card.png') no-repeat 0px 0px;
}
.icon-consorcios {
  background: url('../images/icons/icon-consorcios.png') no-repeat 0px 0px;
}
.icon-conta-corrente {
  background: url('../images/icons/icon-conta-corrente.png') no-repeat 0px 0px;
}
.icon-credito {
  background: url('../images/icons/icon-credito.png') no-repeat 0px 0px;
}
.icon-cobranca {
  background: url('../images/icons/icon-cobranca.png') no-repeat 35px 42px;
}
.icon-domicilio-bancario {
  background: url('../images/icons/icon-domicilio-bancario.png') no-repeat 0px 0px;
}
.icon-investimentos {
  background: url('../images/icons/icon-investimentos.png') no-repeat 0px 0px;
}
.icon-maquininha-de-cartao {
  background: url('../images/icons/icon-maquininha-de-cartao.png') no-repeat 0px 0px;
}
.icon-open-finance {
  background: url('../images/icons/icon-open-finance.png') no-repeat 0px 0px;
}
.icon-pix {
  background: url('../images/icons/icon-pix.png') no-repeat 0px 0px;
}
.icon-previdencia {
  background: url('../images/icons/icon-previdencia.png') no-repeat 0px 0px;
}
.icon-seguros {
  background: url('../images/icons/icon-seguros.png') no-repeat 0px 0px;
}
.icon-servicos-internacionais {
  background: url('../images/icons/icon-servicos-internacionais.png') no-repeat 0px 0px;
}
.icon-tag {
  background: url('../images/icons/icon-tag.png') no-repeat 0px 0px;
}

.slick-arrow {
  background: url('../images/icons/icon-right-arrow-white.png') no-repeat;
  background-color: transparent;
  background-position: center;
  border-radius: 50%;
  display: inline-block;
  height: 44px;
  width: 44px;
  border: 1px solid var(--color-neutral-2);
  text-indent: -10000px;
  padding: 0;
}
.slick-arrow.slick-prev {
  transform: rotate(180deg);
}
.slick-arrow.slick-disabled {
  opacity: 0.3;
}
/* MENU MOBILE */
.menu-mobile {
  display: none !important;
}
/* HEADER */
.top-bar {
  height: 48px;
  padding: 0px 0;
  color: var(--primary-color);
  font-size: 14px;
}
.top-bar .first-col {
  padding-top: 12px;
}
.top-bar .first-col img {
  padding-right: 11px;
}
.top-bar .first-col a {
  color: var(--primary-color);
  font-size: 14px;
  padding-left: 6px;
}
.top-bar nav a {
  color: var(--primary-color);
}
.top-bar .menu-top-bar .menu-item {
  width: 184px;
  text-align: center;
  height: 48px;
}
.top-bar .menu-top-bar .menu-item a {
  width: 100%;
  text-align: center;
  display: block;
  padding: 11px 0 12px;
}
.top-bar .menu-top-bar .separador-top-menu {
  border-right: 1px solid var(--color-neutral-2);
  height: 16px;
  margin: 16px 0 0;
}
.top-bar .menu-top-bar .menu-item.search {
  width: 48px;
}
.top-bar .menu-top-bar .menu-item.current-menu-item.para-voce {
  background-color: var(--primary-color-para-voce);
}
.top-bar .menu-top-bar .menu-item.current-menu-item.para-voce + .separador-top-menu  {
  border: 0px !important;
}
.top-bar .menu-top-bar .menu-item.current-menu-item.para-empresa {
  background-color: var(--primary-color-brand);
}
.top-bar .menu-top-bar .menu-item.current-menu-item.para-empresa a {
  color: white;
}
.top-bar .menu-top-bar .menu-item.current-menu-item.para-cooperativa {
  background-color: var(--primary-color-para-cooperativa);
}
.top-bar .menu-top-bar .menu-item.current-menu-item.para-cooperativa a {
  color: white;
}
.top-bar .menu-top-bar .menu-item.search a {
  text-align: right;
}
.header-menu-banner {
  max-height: 800px;
}
.main-menu {
  height: 125px;
  background-color: transparent;
  z-index: 10;
  position: relative;
}
.main-menu.menu-fixed.para-voce, .main-menu.para-voce.actived {
  background-color: var(--primary-color-para-voce);
}
.main-menu.menu-fixed.para-empresa {
  background-color: var(--primary-color-brand);
}
.main-menu.menu-fixed.para-cooperativa {
  background-color: var(--primary-color-para-cooperativa);
}
.main-menu .logo {
  padding: 39px 60px 0 0;
}
.menu-inicial .menu-item {
  display: flex;
  box-sizing: border-box;
}
.main-menu.actived .menu-inicial .menu-item .menu-dropdown {
  color: var(--primary-color);
}
.menu-inicial .menu-item .menu-dropdown {
  color: white;
  padding: 50px 10px 49px;
}
.menu-inicial .menu-item:hover .menu-dropdown,
.main-menu.actived .menu-inicial .menu-item:hover .menu-dropdown {
  color: var(--color-actived);
  border-bottom: 2px solid var(--color-actived);
}
.menu-inicial .menu-item .menu-dropdown .arrow {
  border-color: white;
}
.main-menu.actived .menu-inicial .menu-item .menu-dropdown .arrow {
  border-color: var(--primary-color);
}
.menu-inicial .menu-item:hover .menu-dropdown .arrow {
  border-color: var(--color-actived);
}

.menu-inicial .menu-item .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 111;
  transition: all .2s ease-in-out;
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.1);
  padding-top: 58px;
  padding-bottom: 88px;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  /* padding: 0 1000em;trick from css-tricks comments */
   /* margin: 0 -1000em; /* trick from css-tricks comments */
}
.menu-inicial .menu-item:hover .dropdown-content {
  display: block;
  visibility: visible;
  opacity: 1;
}
.menu-inicial .menu-item .dropdown-content .container {
  display: flex;
  position: relative;
  z-index: 110;
}
.menu-inicial .menu-item .dropdown-content .container .menu-subitem {
  margin: 0px 0px 30px 0px;
}
.menu-inicial .menu-item .dropdown-content .container .menu-subitem a {
  color: var(--primary-color-para-cooperativa);
  font-size: 17px;
  font-weight: bold;
  padding: 8px 0px 8px 53px !important;
  display: block;
  position: relative;
  font-family: "Calibri";
}
.menu-inicial .menu-item .dropdown-content .container .menu-subitem a:hover {
  color: var(--color-actived);
}
.menu-inicial .menu-item .dropdown-content .container .menu-subitem .arrow.right{
  position: absolute;
  top: 16px;
  border-color: var(--color-actived);
}
.menu-inicial .menu-item .dropdown-content .modal-menu {
  display: none;
}
/*.menu-inicial .menu-item:hover .dropdown-content .modal-menu {
  display: block;
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
*/
.menu-inicial .menu-item .dropdown-content .container .a-uniprime {
  width: 100%;
  margin: 0 auto;
  padding: 0 95px;
}

.menu-inicial .menu-item .dropdown-content .container .menu-subitem-uniprime .icon-cobranca {
  background-position: 0px 5px;
}
.menu-inicial .menu-item .dropdown-content .container .label-header-menu {
  color: var(--primary-color-brand);
  font-size: 21px;
  font-family: 'Switzerland';
  font-weight: bold;
  padding: 0px 0px 22px 78px;
}

.menu-inicial .menu-item .dropdown-content .container ul {
  padding: 8px 0 0 94px;
}
.menu-inicial .menu-item .dropdown-content .container ul li {
  padding: 0px 0 26px 0px;
  display: list-item;
}
.menu-inicial .menu-item .dropdown-content .container ul li::marker {
  color: var(--color-actived);
}
.menu-inicial .menu-item .dropdown-content .container .menu-item a {
  color: var(--primary-color-para-cooperativa);
  line-height: 28px;
  font-size: 15px;
} 

.menu-inicial .menu-item .dropdown-content .container .menu-item a:hover {
  color: var(--color-actived);
}
.menu-inicial .menu-item .dropdown-content.dropdown-content-atendimento {
  max-width: 700px;
  left: 30%;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding-bottom: 30px;
}
.menu-inicial .menu-item .dropdown-content.dropdown-content-atendimento .row {
  display: block;
  position: relative;
}
.menu-inicial .menu-item .dropdown-content.dropdown-content-atendimento ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 112px !important;
}
.menu-inicial .menu-item .dropdown-content.dropdown-content-atendimento .container ul li {
  padding: 0px 0 10px 0px;
  display: list-item;
  margin: 0 0 0 20px;
}
.menu-inicial .menu-item .dropdown-content.dropdown-content-atendimento .container .menu-subitem {
  margin: 0px 0px 0px 0px;
}
.menu-inicial .menu-item .dropdown-content.dropdown-content-atendimento .container .menu-subitem a {
  padding: 8px 0px 8px 0px !important;
}
.main-menu .bts-externos .seja-um-cooperado {
  margin-left: 20px;
}
.main-menu.actived .bts-externos .seja-um-cooperado {
  color: white !important;
  background-color: var(--color-actived) !important;
}
.main-menu .bts-externos .seja-um-cooperado img{
  margin-right: 5px;
}
.main-menu .bts-externos {
  padding: 40px 0px;
}
.hero-banner {
  top: -125px;
  z-index: 1;
  position: relative;
}
.hero-banner .hero-image {

}
.hero-banner .hero-image .copy {
  position: absolute;
  top: 0;
  color: white;
  padding: 190px 0 0 103px;
  max-width: 50%;
}
.hero-banner .hero-image .copy .title{
  font-size: 48px;
  font-family: 'SwitzerlandLight';
  line-height: 62px;
  padding-bottom: 28px;
}
.hero-banner .hero-image .copy .description{
  font-size: 20px;
  font-family: 'Calibri';
  line-height: 34px;
  padding-bottom: 40px;
}
.hero-banner .hero-image .copy .cta a{
  font-size: 18px !important;
  font-family: 'Calibri';
  padding: 12px 20px 0 25px !important;
  height: 52px;
  border-radius: 30px !important;
}
.hero-banner .hero-image .image {
  width:100%; 
  max-height: 800px; 
  height: 800px; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-banner .slick-arrow {
  display: none !important;
}
.dots-hero {
  position: absolute;
  z-index: 9;
  /* @TODO -> Ajustar posição dots*/
  right: 120px;
  top: calc( 50% - 44px );
  height: 100%;
}
.dots-hero .slick-dots {
  position: absolute;
  right: 0;
  list-style-type: none;
}
.dots-hero .slick-dots li.slick-active button:before, 
.dots-hero .slick-dots li button:before {
  color: transparent;
  opacity: 1;
  font-size: 1px;
}
.dots-hero .slick-dots li.slick-active button {
  border: 2px solid var(--color-actived);
  border-radius: 100%;
  height: 16px;
  width: 16px;
  background-color: transparent !important;
  margin: 0 0 25px;
}
.dots-hero .slick-dots li button {
  background-color: #E1E1E2;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  width: 8px;
  border: 0px;
  text-indent: -10000px;
  padding: 0;
  margin: 0 5px 25px;
}
.dots-hero .slick-dots li.slick-active button:before {
  color: transparent;
}
/* GERAL CONTENT */
.div-logo-uniprime {
  width: 100%;
  position: relative;
  z-index: 10;
}
.div-logo-uniprime .logo-uniprime-background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 739px;
  width: 674px;
  position: absolute;
  right: 0;
  top: -45px;
}
.label-block {
  font-family: 'Calibri';
  font-size: 14px;
  color: var(--color-actived);
  text-transform: uppercase;
  position: relative;
  padding-left: 41px;
}
.label-block:before {
  content: '';
  display: block;
  height: 24px; 
  width: 34px; 
  position: absolute;
  top: 10px;
  left: 0px;
  color: var(--color-actived);
  border-top: 1px solid var(--color-actived);
}
.title-block {
  color: var(--primary-color-brand);
  font-size: 30px;
  font-family: 'Switzerland';
  font-weight: bold;
  padding-top: 2px;
}
.description-block {
  color: var(--color-neutral);
  font-family: 'Calibri';
  font-size: 16px;
  padding-top: 5px;
  line-height: 27px;
}
/* NOSSOS PRODUTOS */
.nossos-produtos {
  padding: 130px 0 102px;
  position: relative;
  overflow: hidden;
}
.nossos-produtos .description-block .col-left {
  width: 55%;
  padding: 0 70px 48px 0;
  
}
.nossos-produtos .arrows-nossos-produtos {
  margin-top: 1px;
  width: 45%;
  position: relative;
}
.nossos-produtos .arrows-nossos-produtos .slick-arrow {
  background: url('../images/icons/icon-right-arrow.png') no-repeat 10px 10px;
  border: 1px solid var(--primary-color);
  padding: 0;
  margin: 0 0px 0px 24px;
  position: relative;
  z-index: 12;
}
.nossos-produtos .slick-list {
  width: 100%;
  margin: 0 -12px;
  position: relative;
  z-index: 12;
}
.nossos-produtos .slick-slide > div {
  margin: 0px 0px 30px 23px;
  background-color: rgba(248, 250, 251, .9);
  border-radius: 16px;
}
.nossos-produtos .card-nossos-produtos a {
  color: var(--primary-color-para-cooperativa);
  font-size: 17px;
  font-weight: bold;
  padding: 46px 30px 48px 86px !important;
  display: block;
  position: relative;
}
.nossos-produtos .card-nossos-produtos a .arrow.right{
  right: 20px;
  position: absolute;
  top: 56px;
}
/* NOSSA HISTÓRIA */
.nossa-historia {
  padding: 96px 0 147px;
  background: var(--primary-color-brand) url('../images/logo-traco.png') no-repeat 0px 0px;
  z-index: 11;
  overflow: hidden;
  position: relative;
}
.nossa-historia .col-4{
  padding-top: 43px;
  /* @TODO: Remover padding e ajustar padding real */
  padding-left: 120px;
}
.nossa-historia .col-8{
  padding: 0 24px 0 50px;
  overflow: hidden;
}
.nossa-historia .title-block {
  color: white;
  font-size: 48px;
  font-family: 'SwitzerlandLight';
  font-weight: 300;
  padding-top: 12px;
  line-height: 62px;
  padding-right: 40px;
}
.nossa-historia .arrows-nossa-historia {
  margin-top: 46px;
}
/* @TODO: AJUSTAR ENABLED ARROW */
.nossa-historia .arrows-nossa-historia .slick-arrow {
  padding: 0;
  margin: 0 21px 0px 0px;
}
.nossa-historia .slide-nossa-historia .slick-list{
  padding:0 10% 0 0 !important; 
  margin: 0 -12px;
}
.nossa-historia .card-nossa-historia {
  background-color: var(--secondary-color-brand);
  padding: 96px 52px;
  margin: 0 12px;
  border-radius: 16px;
}
.nossa-historia .card-nossa-historia .content-card {
  border-top: 1px solid var(--color-actived);
}
.nossa-historia .card-nossa-historia .content-card .title {
  font-family: 'Calibri';
  font-size: 14px;
  color: var(--color-actived);
  text-transform: uppercase;
  position: relative;
  padding: 17px 0 8px 30px !important;
}
.nossa-historia .card-nossa-historia .content-card .title .icon-logo {
  margin: 3px 7px 0 0px;
}
.nossa-historia .card-nossa-historia .content-card .destaque {
  color: white;
  font-size: 62px;
  font-family: 'SwitzerlandLight';
  font-weight: 300;
  padding-top: 12px;
}
.nossa-historia .card-nossa-historia .content-card .description {
  color: white;
  font-family: 'Calibri';
  font-size: 16px;
  padding-top: 0px;
  line-height: 27px;
}
/* CANAIS DIGITAIS */
.canais-digitais {
  padding: 129px 0 128px;
  z-index: 12;
  background-color: white;
  position: relative;
}
.canais-digitais .canais-digitais-image {
  position: relative;
}
.canais-digitais .canais-digitais-image img{
  position: absolute;
  top: -238px;
  left: 14px;
}
.canais-digitais .description-block {
  padding-bottom: 34px;
}
/* ONDE ENCONTRAR */
.onde-encontrar {
  padding: 186px 0 130px;
  background-color: transparent;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
}
.onde-encontrar .block-left {
  padding: 0px 0 0 207px;
}
.onde-encontrar .destaque-block {
  color: white;
  font-size: 60px;
  font-family: 'SwitzerlandLight';
  font-weight: 300;
  line-height: 84px;
}
.onde-encontrar .description {
  color: white;
  font-family: 'Switzerland';
  font-size: 30px;
  padding-top: 10px;
  line-height: 37px;
}
.onde-encontrar .input-onde-encontrar {
  z-index: 13;
  position: relative;
  margin-top: 130px;
  max-width: 392px;
}
.onde-encontrar .input-onde-encontrar .input{
  background: var(--primary-color-brand);
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  font-size: 14px;
  padding: 14px 23px 15px;
  position: relative;
  width: 100%;
  z-index: 13;
}
.onde-encontrar .input-onde-encontrar .icon {
  position: absolute;
  right: 0;
  top: 0;
  border: 0px;
  padding: 0px 22px;
  margin: 16px 0;
  z-index: 14;
}
/* NOVIDADES */
.novidades {
  padding: 129px 0 100px;
  z-index: 12;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.novidades .novidades-image {
  position: relative;
}
.novidades .novidades-image img{
  position: absolute;
  top: -238px;
  left: 14px;
}
.novidades .description-block {
  padding: 3px 0 25px;
}
.novidades .description-block .arrows-novidades {
  margin-top: -14px;
}
.novidades .arrows-novidades .slick-arrow {
  background: url('../images/icons/icon-right-arrow.png') no-repeat 10px 10px;
  border: 1px solid var(--primary-color);
  padding: 0;
  margin: 0 0px 0px 24px;
}
.novidades .arrows-novidades .slick-arrow.slick-prev {
  transform: rotate(180deg);
}
.novidades .slide-novidades .slick-list{
  margin: 0 -12px;
}
.novidades .artigos .card-post {
  margin: 0 12px;
  height: 100%;
}
.novidades .artigos .card-post .img-post {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100%;
  height: auto;
  position: relative;
}
.novidades .artigos .card-post .img-post img {
  width: 100%;
  height: auto;
}
.novidades .artigos .card-post .container-post {
  padding: 32px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 1px solid var(--color-neutral);
  border-top: 0px;
  min-height: 186px;
}
.novidades .artigos .card-post .container-post .content-post {
  border-top: 1px solid var(--color-actived);
}
.novidades .artigos .card-post .category {
  color: var(--color-actived);
  padding: 16px 0 25px 0;
  text-transform: uppercase;
  font-size: 13px;
}
.novidades .artigos .card-post .category a {
  color: var(--color-actived);
}
.novidades .artigos .card-post .category .icon-logo {
  margin: 3px 0px 0 0px;
  padding-left: 30px !important;
  background-position-y: 0;
}
.novidades .artigos .card-post .title-block {
  font-size:  17px;
  line-height: 21px;
  padding-bottom: 30px;
}
.novidades .artigos .card-post .title-block a {
  color: var(--primary-color);
}
.novidades .artigos .card-post .cta a.leia_mais {
  color: var(--primary-color);
  font-size: 13px;
}
/* ATENDIMENTO */
.atendimento {
  padding: 25px 0 0px;
  background-color: transparent;
  z-index: 12;
  background-color: white !important;
  background-position: 0 100px !important;
  position: relative;
}
.atendimento .col-left .img {
  padding-left: 121px;
}
.atendimento .col-right {
  padding: 60px 0 0 14px;
}
.atendimento .col-right .title-block {
  font-size: 62px;
  font-family: 'SwitzerlandLight';
  font-weight: 300;
  padding-top: 0px;
  line-height: 84px;
}
.atendimento .col-right .subtitle-block {
  color: var(--primary-color-brand);
  font-size: 30px;
  font-family: 'Switzerland';
  font-weight: bold;
  padding: 6px 0px;
}
.atendimento .col-right .description {
  line-height: 27px;
  padding: 0 117px 33px 0px;
  font-size: 15px;
}
.atendimento .col-right .btn {
  font-size: 17px !important;
  padding: 12px 23px !important;
  height: 51px;
}
.atendimento .col-right .col-9{
  padding: 0 151px 0 30px;
}
/* FOOTER */
footer {
  z-index: 12;
  position: relative;
}
.footer-top {
  background-color:  var(--primary-color-para-voce);
  padding: 97px 0 84px;
}
.footer-top .col-4 {
  padding: 15px 0 0 12px;
}
.footer-top .col-4 img {
  padding: 0px 64px 0px 0;
  border-right: 1px solid var(--color-neutral-2);
}
.footer-top .label-footer {
  font-size: 15px;
}
.footer-top .telefone-footer, .footer-top .telefone-footer a {
  font-size: 15px;
  color: var(--color-actived);
  font-size: 20px;
  font-family: 'Switzerland';
  font-weight: bold;
  padding-top: 16px;
}
.footer-top .description {
  font-size: 13px;
  color: var(--color-neutral);
}
.footer-top .col-5 div:last-child div:last-child div {
  padding-left: 13px;
}
.footer-menu {
  background-color: var(--color-footer);
  padding: 91px 0 90px;
}
.footer-menu .label-footer-menu {
  color: var(--primary-color-brand);
  font-size: 21px;
  font-family: 'Switzerland';
  font-weight: bold;
  padding: 0px 0px 30px;
}
.footer-menu .col-solucoes {
  position: relative;
  flex: 0 0 auto;
  width: 29%;
}
.footer-menu .col-solucoes .solucoes {
  padding: 0 60px 13px 107px;
}
.footer-menu .description-menu {
  font-size: 13px;
  line-height: 24px;
}
.footer-menu .menu-item .dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: var(--primary-color-para-cooperativa);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9;
  transition: all .2s ease-in-out;
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.1);
  padding-top: 50px;
  padding-bottom: 60px;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  background-color: #fff;
  padding: 0 0em; /* trick from css-tricks comments */
  margin: -91px 0 0 0; /* trick from css-tricks comments */
  max-height: 530px;
  overflow-y: auto;
  overflow-x: hidden;
}
.footer-menu .menu-footer-solucoes .menu-item .menu-dropdown{
  color: var(--color-actived);
  text-transform: uppercase;
  width: 100%;
  display: block;
  font-size: 13px;
  padding: 30px 0px 30px 0px;
}
.footer-menu .menu-footer-solucoes .menu-item .menu-dropdown .container-solucoes {
  background-position: 108px 0px;
  padding-left: 140px !important;
}
.footer-menu .menu-footer-solucoes .menu-item:hover .menu-dropdown{
  color: white;
  background-color: var(--primary-color-para-cooperativa);
}
.footer-menu .menu-footer-solucoes .menu-item:hover .menu-dropdown .arrow.right {
  border-color: white;  
 }
.footer-menu .menu-item:hover .dropdown-content {
  display: block;
  visibility: visible;
  opacity: 1;
}

.footer-menu .col-right {
  flex: 0 0 auto;
  width: 71%;
}
.footer-menu .col-right .menu-footer ul {
  padding-left: 20px;
}
.footer-menu .col-right .menu-footer ul li {
  padding-bottom: 28px;
}
.footer-menu .col-right .menu-footer ul li::marker {
  color: var(--color-actived);
}
.footer-menu .col-right .menu-footer .menu-item a {
  color: var(--primary-color-para-cooperativa);
  line-height: 28px;
  font-size: 15px;
}
