/* GERAL */ 
:root {
  --primary-color: #004F71;
  --primary-color-brand: #002B44;
  --secondary-color-brand: #00324D;
  --primary-color-para-voce: #F8FAFB;
  --primary-color-para-cooperativa: #004F71;
  --color-actived: #B78B20;
  --color-neutral: #6C6C6C;
  --color-neutral-alpha: #B7C9d3;
  --color-neutral-alpha: rgba(183, 201, 211, 0.3);
  --color-footer: #EFF1F2;
  --bs-font-sans-serif: 'Calibri';
}
:where(body .is-layout-constrained) > * , :where(body .is-layout-flow) > *{
  margin-block-start: 0px !important;
  margin-block-end: 0;
}
.wp-block-site-title,.wp-block-separator.has-alpha-channel-opacity, #wp--skip-link--target .wp-block-post-title {
  display: none !important;
}
#wp--skip-link--target {
  padding: 0 !important;
  margin: 0 !important;
}
.body, .body.editor-styles-wrapper {
  font-family: 'Calibri' !important;
  font-size: 15px;
}
a {
  text-decoration: none !important;
  color: var(--primary-color);
}
.arrow {
  border: solid var(--primary-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin: 2px 15px;
  width: 6px;
  height: 6px;
  position: relative;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: 1px 15px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.btn {
  padding: 9px 23px !important;
  height: 44px;
  border-radius: 25px !important;
  font-size: 15px !important;
}
.btn-primary {
  color: white !important;
  background-color: var(--primary-color) !important;
  border: 0px !important;

}
.btn-secondary {
  color: var(--primary-color) !important;
  background-color: white !important;
  border: 0px !important;
}
.btn-actived {
  color: white !important;
  background-color: var(--color-actived)  !important;
  border: 0px !important;
}
/* ICONS */
.dashicons-uniprime {
  background-image: url('../images/icons/icon-logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}
.icon-menu {
  padding-left: 40px !important;
}
.icon {
  height: 24px; 
  width: 24px; 
  display: block;
  padding-left:20px;
  float: right;
  position: relative;
  margin: 2px 0 0 9px;
}
.icon:after{
  content: '';
  display: block;
  height: 24px; 
  width: 24px; 
  background-size:cover;
  position: absolute;
  top: 0px;
  left: 0px;
}
.icon-search {
  background: url('../images/icons/icon-search.png') no-repeat 0px 0px;
}
.icon-search-white {
  background: url('../images/icons/icon-search-white.png') no-repeat 0px 0px;
}
.icon-phone {
  background: url('../images/icons/icon-phone.png') no-repeat 0px 0px;
}
.icon-central {
  background: url('../images/icons/icon-central.png') no-repeat 0px 0px;
}

.icon-logo {
  background: url('../images/icons/icon-logo.png') no-repeat 0px 20px;
}
.icon-cta {
  background: url('../images/icons/icon-right-arrow-white.png') no-repeat 0px 0px;
}
.icon-users {
  float: left;
  padding-left: 0px;
  margin: 5px 9px 0 0px; 
}
.icon-users path {
  stroke: var(--primary-color);
  transition: all .2s ease-in-out;
}
.btn:hover svg path {
  stroke: white
}
/* ICONS SOLUÇÔES */

/* GOLD */
/* app-uniprime-cartoes*/

.icon-app-uniprime-cartoes {
  background: url('../images/icons/icon-previdencia.png') no-repeat 0px 0px;
}
.icon-app-uniprime-cartoes-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 0px 0px;
}
.icon-app-uniprime-cartoes-white {
  background: url('../images/icons/icon-previdencia-white.png') no-repeat 0px 0px;
}
/* boleto-bancario */
.icon-boleto-bancario-cobranca {
  background: url('../images/icons/icon-previdencia.png') no-repeat 0px 0px;
}
.icon-boleto-bancario-cobranca-gold, .icon-boleto-bancario-cobranca-2-gold, .icon-boleto-bancario-cobranca-3-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 0px 0px;
}
.icon-boleto-bancario-cobranca-white {
  background: url('../images/icons/icon-previdencia-white.png') no-repeat 0px 0px;
}
/* cambio 
.icon-cambio {
  background: url('../images/icons/icon-cambio.png') no-repeat 0px 0px;
}
.icon-cambio-gold {
  background: url('../images/icons/icon-cambio-gold.png') no-repeat 0px 0px;
}
.icon-cambio-white {
  background: url('../images/icons/icon-cambio-white.png') no-repeat 0px 0px;
}*/
/* cartao-credito */
.icon-cartao-credito {
  background: url('../images/icons/icon-cartao-credito.png') no-repeat 0px 0px;
}
.icon-cartao-credito-gold, .icon-cartao-credito-2-gold, .icon-cartao-credito-3-gold {
  background: url('../images/icons/icon-cartao-credito-gold.png') no-repeat 0px 0px;
}
.icon-cartao-credito-white {
  background: url('../images/icons/icon-cartao-credito-white.png') no-repeat 0px 0px;
}
/* cartoes */
.icon-cartoes {
  background: url('../images/icons/icon-cartao-credito.png') no-repeat 0px 0px;
}
.icon-cartoes-gold, .icon-cartoes-2-gold, .icon-cartoes-3-gold {
  background: url('../images/icons/icon-cartao-credito-gold.png') no-repeat 0px 0px;
}
.icon-cartoes-white {
  background: url('../images/icons/icon-cartao-credito-white.png') no-repeat 0px 0px;
}
/* cobranca */
.icon-cobranca {
  background: url('../images/icons/icon-cobranca.png') no-repeat 0px 0px;
}
.icon-cobranca-gold {
  background: url('../images/icons/icon-cobranca-gold.png') no-repeat 0px 0px;
}
.icon-cobranca-white {
  background: url('../images/icons/icon-cobranca-white.png') no-repeat 0px 0px;
}
/* consorcios */
.icon-consorcios {
  background: url('../images/icons/icon-consorcios.png') no-repeat 0px 0px;
}
.icon-consorcios-gold, .icon-consorcios-2-gold, .icon-consorcios-3-gold {
  background: url('../images/icons/icon-consorcios-gold.png') no-repeat 0px 0px;
}
.icon-consorcios-white {
  background: url('../images/icons/icon-consorcios-white.png') no-repeat 0px 0px;
}
/*conta-corrente */
.icon-conta-corrente {
  background: url('../images/icons/icon-conta-corrente.png') no-repeat 0px 0px;
}
.icon-conta-corrente-gold, .icon-conta-corrente-2-gold, .icon-conta-corrente-3-gold {
  background: url('../images/icons/icon-conta-corrente-gold.png') no-repeat 0px 0px;
}
.icon-conta-corrente-white {
  background: url('../images/icons/icon-conta-corrente-white.png') no-repeat 0px 0px;
}
/* credito */
.icon-credito {
  background: url('../images/icons/icon-credito.png') no-repeat 0px 0px;
}
.icon-credito-gold, .icon-credito-2-gold, .icon-credito-3-gold {
  background: url('../images/icons/icon-credito-gold.png') no-repeat 0px 0px;
}
.icon-credito-white {
  background: url('../images/icons/icon-credito-white.png') no-repeat 0px 0px;
}
/* domicilio-bancario */
.icon-domicilio-bancario {
  background: url('../images/icons/icon-domicilio-bancario.png') no-repeat 0px 0px;
}
.icon-domicilio-bancario-gold, .icon-domicilio-bancario-2-gold, .icon-domicilio-bancario-3-gold {
  background: url('../images/icons/icon-domicilio-bancario-gold.png') no-repeat 0px 0px;
}
.icon-domicilio-bancario-white {
  background: url('../images/icons/icon-domicilio-bancario-white.png') no-repeat 0px 0px;
}
/* financiamento */
.icon-financiamento {
  background: url('../images/icons/icon-previdencia.png') no-repeat 0px 0px;
}
.icon-financiamento-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 0px 0px;
}
.icon-financiamento-white {
  background: url('../images/icons/icon-previdencia-white.png') no-repeat 0px 0px;
}
/* investimentos */
.icon-investimentos {
  background: url('../images/icons/icon-investimentos.png') no-repeat 0px 0px;
}
.icon-investimentos-gold {
  background: url('../images/icons/icon-investimentos-gold.png') no-repeat 0px 0px;
}
.icon-investimentos-white {
  background: url('../images/icons/icon-investimentos-white.png') no-repeat 0px 0px;
}
/* maquina-de-cartao */

.icon-maquina-de-cartao {
  background: url('../images/icons/icon-maquina-de-cartao.png') no-repeat 0px 0px;
}
.icon-maquina-de-cartao-gold {
  background: url('../images/icons/icon-maquina-de-cartao-gold.png') no-repeat 0px 0px;
}
.icon-maquina-de-cartao-white {
  background: url('../images/icons/icon-maquina-de-cartao-white.png') no-repeat 0px 0px;
}
/* -open-banking */
.icon-open-banking {
  background: url('../images/icons/icon-previdencia.png') no-repeat 0px 0px;
}
.icon-open-banking-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 0px 0px;
}
.icon-open-banking-white {
  background: url('../images/icons/icon-previdencia-white.png') no-repeat 0px 0px;
}
/* open-finance */
.icon-open-finance {
  background: url('../images/icons/icon-open-finance.png') no-repeat 0px 0px;
}
.icon-open-finance-gold, .icon-open-finance-2-gold, .icon-open-finance-3-gold {
  background: url('../images/icons/icon-open-finance-gold.png') no-repeat 0px 0px;
}
.icon-open-finance-white {
  background: url('../images/icons/icon-open-finance-white.png') no-repeat 0px 0px;
}
/* portabilidade-de-conta-salario */
.icon-portabilidade-de-conta-salario {
  background: url('../images/icons/icon-previdencia.png') no-repeat 0px 0px;
}
.icon-portabilidade-de-conta-salario-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 0px 0px;
}
.icon-portabilidade-de-conta-salario-white {
  background: url('../images/icons/icon-previdencia-white.png') no-repeat 0px 0px;
}
/* pix */
.icon-pix {
  background: url('../images/icons/icon-pix.png') no-repeat 0px 0px;
}
.icon-pix-gold, .icon-pix-2-gold, .icon-pix-3-gold {
  background: url('../images/icons/icon-pix-gold.png') no-repeat 0px 0px;
}
.icon-pix-white {
  background: url('../images/icons/icon-pix-white.png') no-repeat 0px 0px;
}
/* previdencia */
.icon-previdencia {
  background: url('../images/icons/icon-previdencia.png') no-repeat 0px 0px;
}
.icon-previdencia-gold, .icon-previdencia-2-gold, .icon-previdencia-3-gold  {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 0px 0px;
}
.icon-previdencia-white {
  background: url('../images/icons/icon-previdencia-white.png') no-repeat 0px 0px;
}
/* produtos-de-investimento */
.icon-produtos-de-investimento {
  background: url('../images/icons/icon-previdencia.png') no-repeat 0px 0px;
}
.icon-produtos-de-investimento-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 0px 0px;
}
.icon-produtos-de-investimento-white {
  background: url('../images/icons/icon-previdencia-white.png') no-repeat 0px 0px;
}
/* remessa-internacional */
.icon-remessa-internacional {
  background: url('../images/icons/icon-previdencia.png') no-repeat 0px 0px;
}
.icon-remessa-internacional-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 0px 0px;
}
.icon-remessa-internacional-white {
  background: url('../images/icons/icon-previdencia-white.png') no-repeat 0px 0px;
}
/* repasse-mediante-convenios */
.icon-repasse-mediante-convenios {
  background: url('../images/icons/icon-previdencia.png') no-repeat 0px 0px;
}
.icon-repasse-mediante-convenios-gold {
  background: url('../images/icons/icon-previdencia-gold.png') no-repeat 0px 0px;
}
.icon-repasse-mediante-convenios-white {
  background: url('../images/icons/icon-previdencia-white.png') no-repeat 0px 0px;
}
/* seguros */
.icon-seguros {
  background: url('../images/icons/icon-seguros.png') no-repeat 0px 0px;
}
.icon-seguros-gold, .icon-seguros-2-gold, .icon-seguros-3-gold {
  background: url('../images/icons/icon-seguros-gold.png') no-repeat 0px 0px;
}
.icon-seguros-white {
  background: url('../images/icons/icon-seguros-white.png') no-repeat 0px 0px;
}
/* servicos-e-assessoria */
.icon-servicos-e-assessoria {
  background: url('../images/icons/icon-servicos-e-assessoria.png') no-repeat 0px 0px;
}
.icon-servicos-e-assessoria-gold {
  background: url('../images/icons/icon-servicos-e-assessoria-gold.png') no-repeat 0px 0px;
}
.icon-servicos-e-assessoria-white {
  background: url('../images/icons/icon-servicos-e-assessoria-white.png') no-repeat 0px 0px;
}
/* servicos-internacionais */
.icon-servicos-internacionais {
  background: url('../images/icons/icon-servicos-internacionais.png') no-repeat 0px 0px;
}
.icon-servicos-internacionais-gold, .icon-servicos-internacionais-2-gold, .icon-servicos-internacionais-3-gold {
  background: url('../images/icons/icon-servicos-internacionais-gold.png') no-repeat 0px 0px;
}
.icon-servicos-internacionais-white {
  background: url('../images/icons/icon-servicos-internacionais-white.png') no-repeat 0px 0px;
}
/* tag */
.icon-tag {
  background: url('../images/icons/icon-tag.png') no-repeat 0px 0px;
}
.icon-tag-gold, .icon-tag-2-gold, .icon-tag-3-gold {
  background: url('../images/icons/icon-tag-gold.png') no-repeat 0px 0px;
}
.icon-tag-white {
  background: url('../images/icons/icon-tag-white.png') no-repeat 0px 0px;
}


.slick-arrow {
  background: url('../images/icons/icon-right-arrow-white.png') no-repeat;
  background-color: transparent;
  background-position: center;
  border-radius: 50%;
  display: inline-block;
  height: 44px;
  width: 44px;
  border: 1px solid var(--color-neutral-alpha);
  text-indent: -10000px;
  padding: 0;
}
.slick-arrow.slick-prev {
  transform: rotate(180deg);
}
.slick-arrow.slick-disabled {
  opacity: 0.3;
}
.z-13 {
  z-index: 13;
  position: relative;
}
.z-14 {
  z-index: 14;
  position: relative;
}
/* HEADER */
.top-bar {
  height: 48px;
  padding: 0px 0;
  color: var(--primary-color);
  font-size: 14px;
  z-index: 110;
  position: relative;
  background-color: white;
  font-family: 'Calibri' !important;
}


.top-bar .first-col {
  padding-top: 12px;
}
.top-bar .first-col img {
  padding-right: 11px;
}
.top-bar .first-col a {
  color: var(--primary-color);
  font-size: 14px;
  padding-left: 6px;
}
.top-bar nav a {
  color: var(--primary-color);
}
.top-bar .menu-top-bar .menu-item {
  width: 184px;
  text-align: center;
  height: 48px;
}
.top-bar .menu-top-bar .menu-item.para-voce:hover a {
  background-color: var(--primary-color-para-voce);
}
.top-bar .menu-top-bar .menu-item.para-empresa:hover a {
  background-color: var(--primary-color-brand);
  color: white;
}
.top-bar .menu-top-bar .menu-item.para-cooperativa:hover a {
  background-color: var(--primary-color-para-cooperativa);
  color: white;
}
/* ANIMAÇÕES */
/* .main-menu.menu-fixed.para-voce, 
.main-menu.para-voce.actived {
  background-color: var(--primary-color-para-voce);
}
.main-menu.menu-fixed.para-empresa, 
.main-menu.para-empresa.actived {
  background-color: var(--primary-color-brand);
}
.main-menu.menu-fixed.para-cooperativa, 
.main-menu.para-cooperativa.actived {
  background-color: var(--primary-color-para-cooperativa);
} */

.top-bar .menu-top-bar .menu-item a {
  width: 100%;
  text-align: center;
  display: block;
  padding: 12px 0 15px;
  transition: all .2s ease-in-out;
  background-color: transparent;
}
.top-bar .menu-top-bar .separador-top-menu {
  border-right: 1px solid var(--color-neutral-alpha);
  height: 16px;
  margin: 16px 0 0;
}
.top-bar .menu-top-bar .menu-item.search {
  width: 48px;
}
.top-bar .menu-top-bar .menu-item.current-menu-item.para-voce {
  background-color: var(--primary-color-para-voce);
}
.top-bar.para-voce .menu-top-bar .menu-item.current-menu-item.para-voce .separador-top-menu {

}
.top-bar.para-voce .menu-top-bar .menu-item.current-menu-item.para-voce .separador-top-menu {

}
.top-bar .menu-top-bar .menu-item.current-menu-item.para-voce + .separador-top-menu,
.top-bar.para-seu-negocio .menu-top-bar .separador-top-menu,
.top-bar.para-sua-cooperativa .menu-top-bar .menu-item.para-empresa + .separador-top-menu {
  border: 0px !important;
}
.top-bar .menu-top-bar .menu-item.current-menu-item.para-empresa {
  background-color: var(--primary-color-brand);
}
.top-bar .menu-top-bar .menu-item.current-menu-item.para-empresa a {
  color: white;
}
.top-bar .menu-top-bar .menu-item.current-menu-item.para-cooperativa {
  background-color: var(--primary-color-para-cooperativa);
}
.top-bar .menu-top-bar .menu-item.current-menu-item.para-cooperativa a {
  color: white;
}


@media (max-width: 767.98px) { 
  .top-bar .container .second-col {
    width: 100%;
  }
  .top-bar .menu-top-bar .menu-item a {
    padding: 14px 14px 16px;
    background-color: transparent;
    font-size: 12px;
  }
  .top-bar .menu-top-bar .menu-item {
    width: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  } 
  .top-bar .menu-top-bar .menu-item.para-voce a,
  .top-bar .menu-top-bar .menu-item.para-empresa a,
  .top-bar .menu-top-bar .menu-item.para-cooperativa a
  .top-bar .menu-top-bar .menu-item.para-voce:hover a,
  .top-bar .menu-top-bar .menu-item.para-empresa:hover a,
  .top-bar .menu-top-bar .menu-item.para-cooperativa:hover a {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  } 
}
.top-bar .menu-top-bar .menu-item.search a {
  text-align: right;
}
.header-menu-banner {
  max-height: 800px;
  font-family: 'Calibri' !important;
}
.main-menu {
  height: 125px;
  background-color: transparent;
  position: relative;
  z-index: 110;
  transition: all .2s ease-in-out;
  
}
.main-menu.menu-fixed.para-voce, 
.main-menu.para-voce.actived,
.main-menu.para-voce.isMobile,
.main-menu.interna,
.header-menu-banner.para-voce .hero-banner,
.header-menu-banner.para-voce .menu-inicial-mobile,
.header-menu-banner.para-voce .menu-inicial-mobile .dropdown-content .content-dropdown-mobile,
.header-menu-banner.para-voce .menu-inicial-mobile .dropdown-content.a-uniprime .menu-subitem,
.header-menu-banner.para-voce .menu-inicial-mobile .dropdown-content.atendimento .menu-subitem
{
  background-color: var(--primary-color-para-voce);
}
.main-menu.menu-fixed.para-empresa, 
.main-menu.para-empresa.actived,
.main-menu.para-empresa.isMobile,
.header-menu-banner.para-empresa .hero-banner,
.header-menu-banner.para-empresa .menu-inicial-mobile,
.header-menu-banner.para-empresa .footer-menu-mobile,
.header-menu-banner.para-empresa .menu-inicial-mobile .dropdown-content .content-dropdown-mobile,
.header-menu-banner.para-empresa .menu-inicial-mobile .dropdown-content.a-uniprime .menu-subitem,
.header-menu-banner.para-empresa .menu-inicial-mobile .dropdown-content.atendimento .menu-subitem
{
  background-color: var(--primary-color-brand);
}
.main-menu.menu-fixed.para-cooperativa, 
.main-menu.para-cooperativa.actived,
.main-menu.para-cooperativa.isMobile,
.header-menu-banner.para-cooperativa .hero-banner,
.header-menu-banner.para-cooperativa .menu-inicial-mobile,
.header-menu-banner.para-cooperativa .footer-menu-mobile,
.header-menu-banner.para-cooperativa .menu-inicial-mobile .dropdown-content .content-dropdown-mobile,
.header-menu-banner.para-cooperativa .menu-inicial-mobile .dropdown-content.a-uniprime .menu-subitem,
.header-menu-banner.para-cooperativa .menu-inicial-mobile .dropdown-content.atendimento .menu-subitem
{
  background-color: var(--primary-color-para-cooperativa);
}

.main-menu .logo {
  padding: 39px 60px 0 0;
}
.menu-inicial .menu-item {
  display: flex;
  box-sizing: border-box;
}
.main-menu.para-voce.actived .menu-inicial .menu-item .menu-dropdown,
.main-menu.para-voce.isMobile .menu-inicial .menu-item .menu-dropdown,
.main-menu.interna .menu-inicial .menu-item .menu-dropdown {
  color: var(--primary-color);
}
.main-menu.para-empresa.actived .menu-inicial .menu-item .menu-dropdown, 
.main-menu.para-cooperativa.actived .menu-inicial .menu-item .menu-dropdown,
.main-menu.para-empresa.isMobile .menu-inicial .menu-item .menu-dropdown, 
.main-menu.para-cooperativa.isMobile .menu-inicial .menu-item .menu-dropdown,
.main-menu.para-empresa .menu-inicial-mobile .menu-item .menu-dropdown,
.main-menu.para-cooperativa .menu-inicial-mobile .menu-item .menu-dropdown {
  color: white;
}

.menu-inicial .menu-item .menu-dropdown {
  color: white;
  padding: 50px 10px 49px;
  position: relative;
}

.main-menu.actived .menu-inicial .menu-item.actived .menu-dropdown {
  color: var(--color-actived);
  border-bottom: 2px solid var(--color-actived);
}
.menu-inicial .menu-item .menu-dropdown .arrow {
  border-color: white;
}
.main-menu.para-voce.actived .menu-inicial .menu-item .menu-dropdown .arrow,
.main-menu.para-voce.isMobile .menu-inicial .menu-item .menu-dropdown .arrow,
.main-menu.interna .menu-inicial .menu-item .menu-dropdown .arrow {
  border-color: var(--primary-color);
}
.main-menu.para-voce.actived .menu-inicial .menu-item.actived .menu-dropdown .arrow,
.main-menu.para-voce.isMobile .menu-inicial .menu-item.actived .menu-dropdown .arrow {
  border-color: var(--color-actived);

}

.menu-item .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 111;
  transition: all .2s ease-in-out;
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.1);
  padding-top: 58px;
  padding-bottom: 88px;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  /* transition: opacity .5s ease-in-out 0.1s;*/
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
}
.menu-inicial .menu-item.actived .dropdown-content {
  display: block;
  visibility: visible;
  opacity: 1;
}
.menu-inicial .menu-item .dropdown-content .container {
  display: flex;
  position: relative;
  z-index: 110;
}
.menu-item .dropdown-content .container .menu-subitem {
  margin: 0px 0px 30px 0px;
}
.menu-item .dropdown-content .container .menu-subitem a,
.menu-inicial-mobile .menu-item .dropdown-content .content-dropdown-mobile a { 
  color: var(--primary-color-para-cooperativa);
  font-size: 17px;
  font-weight: bold;
  padding: 8px 0px 8px 53px !important;
  display: block;
  position: relative;
  font-family: "Calibri";
  transition: all .2s ease-in-out;
}
.menu-item .dropdown-content .container .menu-subitem a:hover {
  color: var(--color-actived);
}
.menu-item .dropdown-content .container .menu-subitem .arrow.right{
  position: absolute;
  top: 16px;
  border-color: var(--color-actived);
}
.menu-inicial .menu-item .dropdown-content .container .a-uniprime {
  width: 100%;
  margin: 0 auto;
  padding: 0 95px;
}

.menu-inicial .menu-item .dropdown-content .container .menu-subitem-uniprime .icon-cobranca {
  background-position: 0px 5px;
}
.menu-inicial .menu-item .dropdown-content .container .label-header-menu {
  color: var(--primary-color-brand);
  font-size: 21px;
  font-family: 'Switzerland';
  font-weight: bold;
  padding: 0px 0px 22px 78px;
}

.menu-inicial .menu-item .dropdown-content .container ul {
  padding: 8px 0 0 94px;
}
.menu-inicial .menu-item .dropdown-content .container ul li {
  padding: 0px 0 26px 0px;
  display: list-item;
}
.menu-inicial .menu-item .dropdown-content .container ul li::marker {
  color: var(--color-actived);
}
.menu-inicial .menu-item .dropdown-content .container .menu-item a {
  color: var(--primary-color-para-cooperativa);
  line-height: 28px;
  font-size: 15px;
} 

.menu-inicial .menu-item .dropdown-content .container .menu-item a:hover {
  color: var(--color-actived);
}
.menu-inicial .menu-item .dropdown-content.dropdown-content-atendimento {
  max-width: 700px;
  left: 30%;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding-bottom: 30px;
}
.menu-inicial .menu-item .dropdown-content.dropdown-content-atendimento .row {
  display: block;
  position: relative;
}
.menu-inicial .menu-item .dropdown-content.dropdown-content-atendimento ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 112px !important;
}
.menu-inicial .menu-item .dropdown-content.dropdown-content-atendimento .container ul li {
  padding: 0px 0 10px 0px;
  display: list-item;
  margin: 0 0 0 20px;
}
.menu-inicial .menu-item .dropdown-content.dropdown-content-atendimento .container .menu-subitem {
  margin: 0px 0px 0px 0px;
}
.menu-inicial .menu-item .dropdown-content.dropdown-content-atendimento .container .menu-subitem a {
  padding: 8px 0px 8px 0px !important;
}
#modal-menu {
  background-color: black;
  display: none;
  height: 100vh;
  left: 0;
  max-width: 100% !important;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.main-menu .bts-externos {
  padding: 40px 0px;
}
/* ACTIVED */
.main-menu.para-cooperativa.actived .bts-externos .acesse-sua-conta {
  background-color: var(--primary-color-brand) !important;
  color: white !important;
}
.main-menu.actived .bts-externos .seja-um-cooperado,
.main-menu.interna .bts-externos .seja-um-cooperado {
  background-color: var(--color-actived) !important;
  color: white !important;
}
.main-menu.actived .bts-externos .seja-um-cooperado .icon-users path,
.main-menu.interna .bts-externos .seja-um-cooperado .icon-users path {
  stroke: white;
  transition: all .2s ease-in-out;
}
.main-menu.interna .bts-externos .seja-um-cooperado:hover svg path, 
.main-menu.actived .bts-externos .seja-um-cooperado:hover svg path{
  stroke: white;
}
/* CASOS PARA-VOCE, PARA-EMPRESA, PARA-COOP */
.main-menu.para-voce .bts-externos .acesse-sua-conta:hover,
.main-menu.interna .bts-externos .acesse-sua-conta:hover {
  background-color: var(--primary-color-brand) !important;
  color: white !important;
  border: 1px solid var(--primary-color-brand) !important;
}
.main-menu.para-empresa .bts-externos .acesse-sua-conta:hover,
.main-menu.para-cooperativa .bts-externos .acesse-sua-conta:hover {
  background-color: white !important;
  color: var(--primary-color-brand) !important;
  border: 1px solid white !important;
}
.main-menu.para-voce .bts-externos .seja-um-cooperado:hover,
.main-menu.interna .bts-externos .seja-um-cooperado:hover {
  background-color: var(--primary-color-brand) !important;
  color: white !important;
  /*border: 1px solid white !important;*/
}
.main-menu.para-empresa .bts-externos .seja-um-cooperado:hover {
  background-color:  var(--primary-color-brand) !important;
  color: white !important;
  /*border: 1px solid  white !important;*/
}
.main-menu.para-cooperativa .bts-externos .seja-um-cooperado:hover {
  background-color:  var(--primary-color-para-cooperativa) !important;
  color: white !important;
  /*border: 1px solid  white !important;*/
}

/* NATURAIS */
.main-menu .bts-externos .acesse-sua-conta {
  transition: all .2s ease-in-out;
  border: 1px solid var(--primary-color-para-cooperativa) !important;
  font-size: 16px !important;  
}
.main-menu .bts-externos .seja-um-cooperado {
  background-color: white !important;
  color: var(--primary-color-brand) !important;
  margin-left: 24px;
  transition: all .2s ease-in-out;
  border: 1px solid transparent !important;
  padding: 9px 24px 9px 20px !important;
  font-size: 16px !important;  
}

.main-menu .bts-externos .seja-um-cooperado img{
  margin-right: 5px;
}
/* MENU MOBILE */
.menu-mobile {
  display: none !important;
}
.hero-banner {
  top: -125px;
  z-index: 1;
  position: relative;
}
.hero-banner .hero-image .copy {
  position: absolute;
  top: 0;
  color: white;
  padding: 190px 0 0 103px;
  max-width: 50%;
}
.hero-banner .hero-image .copy .title{
  font-size: 48px;
  font-family: 'SwitzerlandLight';
  line-height: 62px;
  padding-bottom: 28px;
}
.hero-banner .hero-image .copy .description{
  font-size: 20px;
  font-family: 'Calibri';
  line-height: 34px;
  padding-bottom: 40px;
}
.hero-banner .hero-image .copy .cta a{
  font-size: 18px !important;
  font-family: 'Calibri';
  padding: 12px 20px 0 25px !important;
  height: 52px;
  border-radius: 30px !important;
}
.hero-banner .hero-image .image {
  width:100%; 
  max-height: 800px; 
  height: 800px; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-banner .slick-arrow {
  display: none !important;
}
.dots-hero {
  position: absolute;
  z-index: 9;
  /* @TODO -> Ajustar posição dots*/
  right: 120px;
  top: calc( 50% - 44px );
  height: 100%;
}
.dots-hero .slick-dots {
  position: absolute;
  right: 0;
  list-style-type: none;
}
.dots-hero .slick-dots li {
  /*float: none;*/
}
.dots-hero .slick-dots li.slick-active button:before, 
.dots-hero .slick-dots li button:before {
  color: transparent;
  opacity: 1;
  font-size: 1px;
}
.dots-hero .slick-dots li.slick-active button {
  border: 2px solid var(--color-actived);
  border-radius: 100%;
  height: 16px;
  width: 16px;
  background-color: transparent !important;
  margin: 0 0 25px;
}
.dots-hero .slick-dots li button {
  background-color: #E1E1E2;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  width: 8px;
  border: 0px;
  text-indent: -10000px;
  padding: 0;
  margin: 0 5px 25px;
}
.dots-hero .slick-dots li.slick-active button:before {
  color: transparent;
}

/* GERAL CONTENT */
.div-logo-uniprime {
  width: 100%;
  position: relative;
  z-index: 10;
}
.div-logo-uniprime .logo-uniprime-background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 739px;
  width: 674px;
  position: absolute;
  right: 0;
  top: -45px;
}
.label-block {
  font-family: 'Calibri';
  font-size: 14px;
  color: var(--color-actived);
  text-transform: uppercase;
  position: relative;
  padding-left: 41px;
}
.label-block:before {
  content: '';
  display: block;
  height: 24px; 
  width: 34px; 
  position: absolute;
  top: 10px;
  left: 0px;
  color: var(--color-actived);
  border-top: 1px solid var(--color-actived);
}
.title-block {
  color: var(--primary-color-brand);
  font-size: 30px;
  font-family: 'Switzerland';
  font-weight: bold;
  padding-top: 2px;
}
.description-block {
  color: var(--color-neutral);
  font-family: 'Calibri';
  font-size: 16px;
  padding-top: 5px;
  line-height: 27px;
}
.breadcrumbs {
  width: 100%;
  padding: 31px 0;
  font-family: "Calibri";
  font-size: 14px;
  color: var(--color-neutral);
}

.breadcrumbs ul {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}

.breadcrumbs ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0px;
}
.breadcrumbs ul li a {
  font-family: "Calibri";
  font-size: 14px;
  color: var(--color-neutral);
}
.breadcrumbs li.separator {
  padding: 0px 13px 2px 4px;
}
.breadcrumbs ul li b {
  color: var(--primary-color);
}
/* NOSSOS PRODUTOS */
.nossos-produtos {
  padding: 130px 0 99px;
  position: relative;
  overflow: hidden;
  font-family: 'Calibri' !important;
}
.nossos-produtos .description-block .col-left {
  width: 55%;
  padding: 0 70px 48px 0;
  
}
.nossos-produtos .arrows-nossos-produtos-desktop {
  margin-top: 1px;
  width: 45%;
  position: relative;
}
.nossos-produtos .arrows-nossos-produtos-desktop .slick-arrow,
.nossos-produtos .arrows-nossos-produtos-mobile .slick-arrow  {
  background: url('../images/icons/icon-right-arrow.png') no-repeat 10px 10px rgb(255,255,255,0.7);
  border: 1px solid var(--primary-color);
  padding: 0;
  margin: 0 0px 0px 24px;
  position: relative;
  z-index: 12;
}
.nossos-produtos .slick-list {
  width: 100%;
  margin: 0 -12px;
  position: relative;
  z-index: 12;
}
.nossos-produtos .slick-slide > div {
  margin: 0px 0px 30px 25px;
  background-color: rgba(248, 250, 251, .9);
  border-radius: 16px;
}
.nossos-produtos .card-nossos-produtos {  
  border-radius: 16px;
  /* -webkit-transition: all .2s ease-in-out .2s;
  transition: all .2s ease-in-out .2s;*/
}
.nossos-produtos .card-nossos-produtos:hover {
  background: url('../images/bg-solucoes.png') no-repeat 0 0px;
  border-radius: 16px;
  background-size: cover;
}
.nossos-produtos .card-nossos-produtos a {
  color: var(--primary-color-para-cooperativa);
  font-size: 17px;
  font-weight: bold;
  padding: 46px 30px 48px 86px !important;
  display: block;
  position: relative;
  background-position: 32px 45px;
  -webkit-transition: all .2s ease-in-out .2s;
  transition: all .2s ease-in-out .2s;
}

.nossos-produtos .card-nossos-produtos a .arrow.right{
  right: 20px;
  position: absolute;
  top: 56px;
}
.nossos-produtos .card-nossos-produtos:hover a {
  color: var(--color-actived);
}
.nossos-produtos .card-nossos-produtos:hover a .arrow.right{
  border-color: var(--color-actived);
}

/* NOSSA HISTÓRIA */
.nossa-historia {
  padding: 93px 0 147px;
  background: var(--primary-color-brand) url('../images/logo-traco.png') no-repeat 0px 0px;
  z-index: 11;
  overflow: hidden;
  position: relative;
  font-family: 'Calibri' !important;
}
.nossa-historia .col-left{
  padding-top: 43px;
  /* @TODO: Remover padding e ajustar padding real */
  padding-left: 120px;
}
.nossa-historia .col-8{
  padding: 0 24px 0 50px;
  overflow: hidden;
}
.nossa-historia .title-block {
  color: white;
  font-size: 48px;
  font-family: 'SwitzerlandLight';
  font-weight: 300;
  padding-top: 12px;
  line-height: 62px;
  padding-right: 40px;
}
.nossa-historia .arrows-nossa-historia-desktop {
  margin-top: 46px;
}
.nossa-historia .arrows-nossa-historia-desktop .slick-arrow,
.nossa-historia .arrows-nossa-historia-mobile .slick-arrow {
  padding: 0;
  margin: 0 21px 0px 0px;
}
.nossa-historia .slide-nossa-historia .slick-list{
  padding:0 10% 0 0 !important; 
  margin: 0 -12px;
}
.nossa-historia .card-nossa-historia {
  background-color: var(--secondary-color-brand);
  padding: 96px 52px;
  margin: 0 12px;
  border-radius: 16px;
}
.nossa-historia .card-nossa-historia .content-card {
  border-top: 1px solid var(--color-actived);
}
.nossa-historia .card-nossa-historia .content-card .title {
  font-family: 'Calibri';
  font-size: 14px;
  color: var(--color-actived);
  text-transform: uppercase;
  position: relative;
  padding: 17px 0 8px 30px !important;
}
.nossa-historia .card-nossa-historia .content-card .title .icon-logo {
  margin: 3px 7px 0 0px;
}
.nossa-historia .card-nossa-historia .content-card .destaque {
  color: white;
  font-size: 62px;
  font-family: 'SwitzerlandLight';
  font-weight: 300;
  padding-top: 12px;
}
.nossa-historia .card-nossa-historia .content-card .description {
  color: white;
  font-family: 'Calibri';
  font-size: 16px;
  padding-top: 0px;
  line-height: 27px;
}

/* CANAIS DIGITAIS */
.canais-digitais {
  padding: 0px;
  z-index: 12;
  background-color: white;
  position: relative;
  font-family: 'Calibri' !important;
}

.canais-digitais .container {
  /*height: 472px;*/
}
.canais-digitais .canais-digitais-image {
  position: relative;
}
.canais-digitais .canais-digitais-image img{
  position: relative;
  left: 0px;
  width: 100%;
  margin: -108px 0 -205px;
}
.canais-digitais .col-right{
  padding: 129px 0 100px;
}
.canais-digitais .description-block {
  padding-bottom: 34px;
}

.canais-digitais .card-canais-digitais img {
  width: 100%;
  max-width: 180px;
}
/* ONDE ENCONTRAR */
.onde-encontrar {
  padding: 186px 0 130px;
  background-color: transparent;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
  font-family: 'Calibri' !important;
}
.onde-encontrar .block-left {
  padding: 0px 0 0 207px;
}
.onde-encontrar .destaque-block {
  color: white;
  font-size: 60px;
  font-family: 'SwitzerlandLight';
  font-weight: 300;
  line-height: 84px;
}
.onde-encontrar .description {
  color: white;
  font-family: 'Switzerland';
  font-size: 30px;
  padding-top: 10px;
  line-height: 37px;
}
.onde-encontrar .input-onde-encontrar {
  margin-top: 130px;
  max-width: 392px;
}
.onde-encontrar .input-onde-encontrar .input{
  background: var(--primary-color-brand);
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  font-size: 14px;
  padding: 14px 23px 15px;
  width: 100%;
}
.onde-encontrar .input-onde-encontrar .icon {
  position: absolute;
  right: 0;
  top: 0;
  border: 0px;
  padding: 0px 22px;
  margin: 16px 0;
  z-index: 14;
}

/* NOVIDADES */
.novidades {
  padding: 129px 0 100px;
  z-index: 12;
  background-color: white;
  overflow: hidden;
  position: relative;
  font-family: 'Calibri' !important;
}
.novidades .novidades-image {
  position: relative;
}
.novidades .novidades-image img{
  position: absolute;
  top: -238px;
  left: 14px;
}
.novidades .description-block {
  padding: 3px 0 25px;
}
.novidades .description-block .arrows-novidades-desktop {
  margin-top: -14px;
}
.novidades .arrows-novidades-desktop .slick-arrow,
.novidades .arrows-novidades-mobile .slick-arrow  {
  background: url('../images/icons/icon-right-arrow.png') no-repeat 10px 10px;
  border: 1px solid var(--primary-color);
  padding: 0;
  margin: 0 0px 0px 24px;
}
.novidades .arrows-novidades-desktop .slick-arrow.slick-prev {
  transform: rotate(180deg);
}
.novidades .slide-novidades .slick-list{
  margin: 0 -12px;
}
.novidades .artigos .card-post {
  margin: 0 12px;
  height: 100%;
}
.novidades .artigos .card-post .img-post {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100%;
  height: auto;
  position: relative;
}
.novidades .artigos .card-post .img-post img {
  width: 100%;
  height: auto;
}
.novidades .artigos .card-post .container-post {
  padding: 32px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 1px solid var(--color-neutral);
  border-top: 0px;
  min-height: 186px;
}
.novidades .artigos .card-post .container-post .content-post {
  border-top: 1px solid var(--color-actived);
}
.novidades .artigos .card-post .category {
  color: var(--color-actived);
  padding: 16px 0 25px 0;
  text-transform: uppercase;
  font-size: 13px;
}
.novidades .artigos .card-post .category a {
  color: var(--color-actived);
}
.novidades .artigos .card-post .category .icon-logo {
  margin: 3px 0px 0 0px;
  padding-left: 30px !important;
  background-position-y: 0;
}
.novidades .artigos .card-post .title-block {
  font-size:  17px;
  line-height: 21px;
  padding-bottom: 30px;
}
.novidades .artigos .card-post .title-block a {
  color: var(--primary-color);
}
.novidades .artigos .card-post .cta a.leia_mais {
  color: var(--primary-color);
  font-size: 13px;
}

/* ATENDIMENTO */
.atendimento {
  padding: 25px 0 0px;
  background-color: transparent;
  z-index: 12;
  background-color: white !important;
  background-position: 0 100px !important;
  position: relative;
  font-family: 'Calibri' !important;
}
.atendimento .col-left .img {
  padding-left: 121px;
}
.atendimento .col-right {
  padding: 60px 0 0 14px;
}
.atendimento .col-right .title-block {
  font-size: 62px;
  font-family: 'SwitzerlandLight';
  font-weight: 300;
  padding-top: 0px;
  line-height: 84px;
}
.atendimento .col-right .subtitle-block {
  color: var(--primary-color-brand);
  font-size: 30px;
  font-family: 'Switzerland';
  font-weight: bold;
  padding: 6px 0px;
}
.atendimento .col-right .description {
  line-height: 27px;
  padding: 0 117px 33px 0px;
  font-size: 15px;
}
.atendimento .col-right .btn {
  font-size: 17px !important;
  padding: 12px 23px !important;
  height: 51px;
}
.atendimento .col-right .col-9{
  padding: 0 151px 0 30px;
}

.atendimento .col-redes {
  padding: 0px 150px 0 30px;
}
/* INSTITUCIONAL */
.banner-internas .hero-image .copy {
  bottom: 0;
  color: white;
  max-width: 50%;
  padding-bottom: 50px;
}
.banner-internas .hero-image .copy .title{
  font-size: 48px;
  font-family: 'SwitzerlandLight';
  line-height: 62px;
  padding-bottom: 10px;
}
.banner-internas .hero-image .copy .description{
  font-size: 28px;
  font-family: 'Calibri';
  line-height: 34px;
}
.banner-internas .hero-image .copy .cta a{
  font-size: 18px !important;
  font-family: 'Calibri';
  padding: 12px 20px 0 25px !important;
  height: 52px;
  border-radius: 30px !important;
}
.banner-internas .hero-image .image {
  width:100%; 
  max-height: 560px; 
  height: 560px; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden !important;
}
.banner-internas .hero-image .image img {
  width:100%; 
}

.banner-internas .slick-arrow {
  display: none !important;
}
.content-internas  {
  padding: 163px 0 184px;
}
.content-internas .copy {
  padding: 0 115px;
}
.content-internas .copy .description-block {
  float:none;
  padding-top: 4px;
}
.content-internas .copy .description-block .title-block {
  padding: 2px 0 18px;
}
.content-internas .img {
  float:none;
  margin-top: -28px;
}
.content-internas .img.direita {
  float:right;
  padding: 0 0 30px 30px;
}
.content-internas .img.esquerda {
  float:left;
  padding: 0 30px 30px 0;
}
.content-internas .img.nenhuma {
  float:none;
  width: 100% !important;
}
.content-internas .copy .description-block p {
  max-width: 57%;
}
.mce-content-body,
.mce-content-body p,
.mce-content-body a, 
.mce-content-body li {
  font-family: "Calibri";
}
.nossa-historia.internas {
  padding: 93px 0 96px;
}
/* BLOCO MVV */
.bloco-mvv {
  background-color: var(--primary-color-brand);
}
.bloco-mvv .card-mvv {
  background-image: linear-gradient(#004F71, #007D79);
  padding: 96px 52px;
  margin: 0 12px;
  border-radius: 16px;
}
/* FOOTER */
footer {
  z-index: 12;
  position: relative;
  font-family: 'Calibri' !important;
}
.footer-top {
  background-color:  var(--primary-color-para-voce);
  padding: 97px 0 84px;
}
.footer-top .col-4 {
  padding: 15px 0 0 12px;
}
.footer-top .col-4 img {
  padding: 0px 64px 0px 0;
  border-right: 1px solid var(--color-neutral-alpha);
}
.footer-top .label-footer {
  font-size: 15px;
}
.footer-top .telefone-footer, .footer-top .telefone-footer a {
  font-size: 15px;
  color: var(--color-actived);
  font-size: 20px;
  font-family: 'Switzerland';
  font-weight: bold;
  padding-top: 16px;
}
.footer-top .description {
  font-size: 13px;
  color: var(--color-neutral);
}
.footer-top .col-5 div:last-child div:last-child div {
  padding-left: 13px;
}
.footer-menu {
  background-color: var(--color-footer);
  padding: 91px 0 0px;
  position: relative;
}
.footer-menu .label-footer-menu {
  color: var(--primary-color-brand);
  font-size: 20px;
  font-family: 'Switzerland';
  font-weight: bold;
  padding: 0px 0px 30px;
}
.footer-menu .col-solucoes {
  position: relative;
  flex: 0 0 auto;
  width: 29%;
}
.footer-menu .col-solucoes .solucoes {
  padding: 0 60px 13px 107px;
}
.footer-menu .description-menu {
  font-size: 13px;
  line-height: 24px;
}
.footer-menu .menu-item .dropdown-content {
  top: 0;
  left: 100%;
  background-color: var(--primary-color-para-cooperativa);
  z-index: 9;
  transition: all .2s ease-in-out;
  padding: 60px 60px 40px;
  width: 244%;
  background-color: #fff;
  margin: -91px 0 0 0;
}

.footer-menu .menu-footer-solucoes .menu-item .menu-dropdown{
  color: var(--color-actived);
  text-transform: uppercase;
  width: 100%;
  display: block;
  font-size: 13px;
  padding: 30px 0px 30px 0px;
}
.footer-menu .menu-footer-solucoes .menu-item .menu-dropdown .container-solucoes {
  background-position: 108px 0px;
  padding-left: 140px !important;
}
.footer-menu .menu-footer-solucoes .menu-item:hover .menu-dropdown{
  color: white;
  background-color: var(--primary-color-para-cooperativa);
}
.footer-menu .menu-footer-solucoes .menu-item:hover .menu-dropdown .arrow.right {
  border-color: white;  
 }
.footer-menu .menu-item:hover .dropdown-content {
  display: block;
  visibility: visible;
  opacity: 1;
  background-color: var(--primary-color-para-cooperativa);
}

.footer-menu .menu-item .dropdown-content .container .menu-subitem {
  margin: 0px 0px 20px 0px;
}
.footer-menu .menu-item .dropdown-content.cooperativa .container .menu-subitem {
  margin: 0px 0px 6px 0px;
}
.footer-menu .menu-item .dropdown-content .container .menu-subitem a {
  color: white;
  padding: 20px 0px 20px 53px !important;
  background-position: 0px 16px;
}
.footer-menu .menu-item .dropdown-content .container .menu-subitem a:hover {
  color: var(--color-actived);
}
.footer-menu .menu-item .dropdown-content .container .menu-subitem .arrow.right{
  top: 26px;
}

.footer-menu .col-right {
  flex: 0 0 auto;
  width: 71%;
}
.footer-menu .col-right .menu-footer ul {
  padding-left: 20px;
}
.footer-menu .col-right .menu-footer ul li {
  padding-bottom: 26px;
}
.footer-menu .col-right .menu-footer ul li::marker {
  color: var(--color-actived);
}
.footer-menu .col-right .menu-footer .menu-item a {
  color: var(--primary-color-para-cooperativa);
  line-height: 28px;
  font-size: 15px;
}
.footer-copyrigth {
  background-color: var(--color-footer);
  color: #919294;
  padding: 24px 0 95px;
  position: relative;
  font-size: 13px;
}


@media (max-width: 1399.98px) {   
  .atendimento .col-redes {
    padding: 0px 80px 0 0px;
  }
}
@media (max-width: 1199.98px) { 
  .menu-inicial .menu-item .menu-dropdown {
    padding: 50px 5px 49px;
    font-size: 14px !important;
  }
  .btn {
    font-size: 14px !important;
    padding: 9px 9px !important;
  }
  .atendimento .col-redes {
    padding: 0px 80px 0 0px;
  }
  .atendimento .col-left .img {
    padding-left: 0px;
  }
}
@media (max-width: 991.98px) { 
  .main-menu .logo {
    padding: 32px 0px 0 13px;
    max-width: 125px;
  }
  .main-menu .logo img {
    width: 100%;
  }
  .main-menu .bts-externos {
    padding: 24px 0px;
  }
  .main-menu .bts-externos a {
    padding: 10px 23px !important;
    font-size: 13px !important;
  }
  .menu-mobile {
    display: none !important;
    padding: 27px 0px;
  }
  .container-menu-mobile {
    background-color: white;
    position: fixed;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100vh;
    transition: all .3s ease-in-out;
  }
  .container-menu-mobile.actived {
    top: 0px;
  }
  .main-menu {
    height: 101px;
  }
  .elementor-widget-container .bars {
    padding: 14px 10px;
  }
  .elementor-widget-container .bar {
    border-bottom: 2px solid var(--primary-color-para-cooperativa);
    height: 2px;
    width: 24px;
    margin-bottom: 8px;
  }
  .main-menu.para-empresa .elementor-widget-container #button-mobile .bar, 
  .main-menu.para-cooperativa .elementor-widget-container #button-mobile .bar {
    border-bottom: 2px solid white;
  }
  .header-menu-mobile {
    padding: 70px 22px 30px;
  }
  .container-menu-mobile .logo-menu-mobile{
    max-width: 117px;
  }
  .container-menu-mobile .logo-menu-mobile img{
    width: 100%;
  }
  .col-right-menu-mobile .search {
    padding: 0 47px 0 0;
  }
  .col-right-menu-mobile .search img{
    width: 20px;
  } 
  .elementor-widget-container .col-right-menu-mobile .close .bars {
    padding: 14px 0px;
  }
  .col-right-menu-mobile .close .bar1 {    
    transform: rotate(-135deg);
    margin-bottom: -2px;
  }
  .col-right-menu-mobile .close .bar2 {    
    transform: rotate(135deg);
  }
  /* DROPDOWN MOBILE */
  .content-menu-mobile {
    background-color: white;
  }
  .menu-inicial-mobile {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 15px 22px 16px;
  }
  .menu-inicial-mobile .menu-item {
    display: flex;
    box-sizing: border-box;
  }
  .menu-inicial-mobile .menu-item .menu-dropdown {
    color: var(--primary-color);
    padding: 40px 0px;
    font-size: 36px;
    font-family: 'SwitzerlandLight';
    line-height: 62px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid var(--color-neutral-alpha);
  }
  .menu-inicial-mobile .menu-item:last-child .menu-dropdown {
    border-bottom: 0px !important;
  }
  .menu-inicial-mobile .menu-item .menu-dropdown .arrow.right {
    right: 0px;
    position: absolute;
    top: 65px;
  }
  .footer-menu-mobile .content-footer {
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 13px;
    padding: 35px 24px 16px;
  }
  .footer-menu-mobile .content-footer .unidades {
    padding: 13px 0px 13px;
    margin-top: 6px;
  }
  .footer-menu-mobile .content-footer .unidades a {
    font-size: 18px;
    color: var(--primary-color)
  }
  .footer-menu-mobile .bts-externos .seja-um-cooperado {
    display: block !important;
    margin-left: 0px;
    padding: 10px 20px !important;
  }
  .menu-inicial-mobile .menu-item .dropdown-content {
    left: 100%;
    display: block;
    top: 0;
    transition: all .3s ease-in-out;
    visibility: visible;
    opacity: 1;
    padding-top: 0;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 0px;
  }
  .menu-inicial-mobile .menu-item.actived .dropdown-content {
    left: 0;
  }
  .menu-inicial-mobile .menu-item .dropdown-content .header-menu-mobile {
    padding: 74px 22px 30px;
  }
  .menu-inicial-mobile .menu-item .dropdown-content .header-content-mobile {
    padding: 13px 23px 21px;

  }
  .menu-inicial-mobile .menu-item .dropdown-content .slick-arrow {
    background: url(../images/icons/icon-right-arrow.png) no-repeat 24px 10px transparent;
    border: 0px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
  .para-empresa .menu-inicial-mobile .menu-item .dropdown-content .slick-arrow,
  .para-cooperativa .menu-inicial-mobile .menu-item .dropdown-content .slick-arrow
   {
    background: url(../images/icons/icon-right-arrow-white.png) no-repeat 24px 10px transparent;
  }
  .menu-inicial-mobile .menu-item .dropdown-content .title-menu-mobile {
    color: var(--primary-color);
    font-size: 36px;
    font-family: 'SwitzerlandLight';
    line-height: 46px;
    padding-top: 13px;
  }
  .header-menu-banner.para-empresa .menu-inicial-mobile .menu-item .dropdown-content .title-menu-mobile,
  .header-menu-banner.para-cooperativa .menu-inicial-mobile .menu-item .dropdown-content .title-menu-mobile,
  .header-menu-banner.para-empresa .menu-inicial-mobile .dropdown-content.a-uniprime .menu-subitem a,
  .header-menu-banner.para-cooperativa .menu-inicial-mobile .dropdown-content.a-uniprime .menu-subitem a,
  .header-menu-banner.para-empresa .menu-inicial-mobile .dropdown-content.atendimento .menu-subitem a,
  .header-menu-banner.para-cooperativa .menu-inicial-mobile .dropdown-content.atendimento .menu-subitem a
  {
    color: white;
  }
  .header-menu-banner.para-empresa .menu-inicial-mobile .menu-item .dropdown-content .menu-subitem a .arrow.right, 
  .header-menu-banner.para-cooperativa .menu-inicial-mobile .menu-item .dropdown-content .menu-subitem a .arrow.right,
  .header-menu-banner.para-empresa .menu-inicial-mobile .menu-item .dropdown-content.a-uniprime .menu-subitem, 
  .header-menu-banner.para-empresa .menu-inicial-mobile .menu-item .dropdown-content.a-uniprime .menu-subitem {
    border-color: white;
  }
  
  .menu-inicial-mobile .menu-item .dropdown-content .menu-subitem {
    margin: 0px 24px;
    background-color: white;
  }
  .menu-inicial-mobile .menu-item .dropdown-content.a-uniprime .menu-subitem,
  .menu-inicial-mobile .menu-item .dropdown-content.atendimento .menu-subitem {
    border-bottom: 1px solid var(--color-neutral-alpha);
  }
  .menu-inicial-mobile .dropdown-content .content-dropdown-mobile {
    padding-bottom: 20px;
  }
  .header-menu-banner.para-voce .menu-inicial-mobile .dropdown-content.a-uniprime .content-dropdown-mobile {
    height: 100%;
  }
  
  .menu-inicial-mobile .menu-item .dropdown-content .menu-subitem  a {
    font-size: 19px;
    padding: 30px 0px !important;
    width: 100%;
    border-bottom: 1px solid var(--color-neutral-alpha);
  }
  .menu-inicial-mobile .menu-item .dropdown-content .menu-subitem a:last-child,
  .menu-inicial-mobile .menu-item .dropdown-content.a-uniprime .menu-subitem:last-child,
  .menu-inicial-mobile .menu-item .dropdown-content.atendimento .menu-subitem:last-child {
    border-bottom: 0px;
  }
  .menu-inicial-mobile .menu-item .dropdown-content .menu-subitem a .arrow.right {
    position: absolute;
    right: -5px;
    top: 42px;
  }
  .menu-inicial-mobile .menu-item .dropdown-content.solucoes .menu-subitem {
    margin: 0px 24px 16px;
    border-radius: 16px;
  }
  .menu-inicial-mobile .menu-item .dropdown-content.solucoes .menu-subitem a {
    padding: 26px 9px 26px 70px !important;
    font-size: 17px;
    background-position: 15px 23px;
  }
  .menu-inicial-mobile .menu-item .dropdown-content.solucoes .menu-subitem a .arrow.right {
    position: absolute;
    right: 10px;
    top: 36px;
  }
  /* HERO BANNER */
  .header-menu-banner {
    max-height: 777px;
  }
  .hero-banner {
    top: 0px;
  }
  .hero-banner .slick-list.draggable {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 677px;
  }
  
  .hero-banner .hero-image .image {
    height: 677px; 
  }
  .hero-banner .hero-image .copy {
    top: 0;
    padding: 83px 0 0 12px;
    max-width: 65%;
  }
  .hero-banner .hero-image .copy .title {
    font-size: 38px;
    line-height: 48px;
    padding-bottom: 26px;
  }
  .hero-banner .hero-image .copy .description {
    font-size: 17px;
    line-height: 27px;
    padding-bottom: 40px;
  }
  .hero-banner .hero-image .copy .cta a {
    height: 46px;
    padding: 9px 20px 0 25px !important;
  }
  .dots-hero {
    right: auto;
    left: 0px;
    bottom: 60px;
  }
  .dots-hero .slick-dots {
    right: auto;
    width: 200px;
  }
  .dots-hero .slick-dots li {
    display: inline-block;
    padding-right: 16px;
  }
  .title-block {
    padding-top: 5px;
    line-height: 37px;
    width: 74%;
  }
  .description-block {
    padding-top: 8px;
  }
  .nossos-produtos {
    padding: 65px 11px 63px;
  }
  .nossos-produtos .description-block .col-left {
    width: 100%;
    padding: 0 0px 34px 0;
  }
  .nossos-produtos .slick-list {
    padding-bottom: 19px;
  }
  .nossos-produtos .card-nossos-produtos a {
    font-size: 15px;
    padding: 28px 30px 29px 71px !important;
    background-position: 17px 21px;
  }
  .nossos-produtos .slick-slide > div {
    margin: 0px 0px 16px 25px;
  }
  .nossos-produtos .card-nossos-produtos a .arrow.right {
    right: 11px;
    top: 36px;
  }
  .nossos-produtos .slick-list {
    padding-bottom: 19px;
  }
  .arrows-nossos-produtos-mobile {
    margin-left: -24px;
  }
  .nossa-historia {
    padding: 23px 0 135px;
  }
  .nossa-historia .col-left{
    padding-top: 42px;
    /* @TODO: Remover padding e ajustar padding real */
    padding-left: 35px;
  }
  .nossa-historia .title-block {
    font-size: 36px;
    padding: 13px 0px 37px;
    line-height: 47px;
    width: 100%;
  }
  .nossa-historia .slide-nossa-historia {
    padding: 0px 24px 30px;
  }
  .nossa-historia .slide-nossa-historia .slick-list {
    padding: 0 0% 0 0 !important;
  }
  .nossa-historia .card-nossa-historia {
    padding: 95px 27px;
  }
  .arrows-nossa-historia-mobile {
    margin-left: 12px;
  }

  .canais-digitais {
    padding: 0px;
  }
  .canais-digitais .container {
    height: 666px;
    justify-content: center;
    display: flex;
  }
  .canais-digitais .canais-digitais-image {
    position: relative;
  }
  .canais-digitais .canais-digitais-image img {
    position: relative;
    left: auto;
    padding: 0 20px 0 20px;
    width: auto;
    max-height: 407px;
    margin: -97px 0 -55px;
  }
  .canais-digitais .col-right {
    padding: 0px 24px 0;
    position: relative;
    margin: -90px 0 0px 0;
  }
  .canais-digitais .card-canais-digitais {
    width: 48%;
  }
  .onde-encontrar {
    padding: 66px 0 30px;
  }
  .onde-encontrar .block-left {
    padding: 0px 0 0 12px;
  }
  .onde-encontrar .destaque-block {
    font-size: 36px;
    line-height: 50px;
    padding: 20px 0 14px 0;
  }
  .onde-encontrar .input-onde-encontrar {
    margin: 34px 10px;
  }
  .novidades {
    padding: 66px 12px 0px;
  }
  .novidades .description-block {
    padding: 5px 0 16px;
  }
  .novidades .artigos .card-post .container-post {
    padding: 32px 24px;
  }
  .novidades .artigos .card-post .title-block {
    padding-top: 3px;
  }
  .novidades .arrows-novidades-mobile {
    padding-top: 34px;
    margin-left: -24px;
  }
  .atendimento {
    padding: 6px 10px 0px;
    background-image: none !important;
  }
  .atendimento .col-right .title-block {
    font-size: 36px;
    line-height: 55px;
  }
  .atendimento .col-right .subtitle-block {
    font-size: 25px;
    padding: 5px 0px;
  }
  .atendimento .col-right .description {
    line-height: 27px;
    padding: 0 0px 33px 0px;
    font-size: 15px;
  }
  .atendimento .col-bts-left {
    padding-bottom: 33px;
  }
  
  .atendimento .col-redes {
    padding: 0px 0 64px;
  }
  .footer-top {
    padding: 129px 0px 4px 43px;
  }
  .footer-top .logo-footer {
    justify-content: center;
    display: flex;
    padding: 0 101px 68px 12px;
  }
  .footer-top .logo-footer img {
    width: 100%;
    max-width: 288px;
  }
  .footer-top .ouvidoria {
    padding-bottom: 36px;
  }
  .footer-top .telefone-footer {
    padding-top: 12px;
  }
  .footer-top .label-footer {
    line-height: 26px;
  }
  .footer-top .col-telefone .col{
    padding-bottom: 16px;
  }
  .footer-menu {
    justify-content: center;
  }
  .footer-menu .col-right .menu-footer ul {
    margin-bottom: 34px;
  }
  .footer-copyrigth {
    padding: 4px 36px 95px;
  }
}/*
@media (max-width: 767.98px) { 
*/